<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-comment-heading" data-cy="CommentCreateUpdateHeading" jhiTranslate="tempcondoappApp.comment.home.createOrEditLabel">
        Create or edit a Comment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.comment.iDComment" for="field_iDComment">I D Comment</label>
          <input type="number" class="form-control" name="iDComment" id="field_iDComment" data-cy="iDComment" formControlName="iDComment" />
          <div *ngIf="editForm.get('iDComment')!.invalid && (editForm.get('iDComment')!.dirty || editForm.get('iDComment')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('iDComment')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('iDComment')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.comment.postDate" for="field_postDate">Post Date</label>
          <div class="d-flex">
            <input
              id="field_postDate"
              data-cy="postDate"
              type="datetime-local"
              class="form-control"
              name="postDate"
              formControlName="postDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.comment.comment" for="field_comment">Comment</label>
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.comment.adminWall" for="field_adminWall">Admin Wall</label>
          <select class="form-control" id="field_adminWall" data-cy="adminWall" name="adminWall" formControlName="adminWall">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="adminWallOption.id === editForm.get('adminWall')!.value?.id ? editForm.get('adminWall')!.value : adminWallOption"
              *ngFor="let adminWallOption of adminWallsSharedCollection; trackBy: trackAdminWallById"
            >
              {{ adminWallOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.comment.generalForum" for="field_generalForum"
            >General Forum</label
          >
          <select class="form-control" id="field_generalForum" data-cy="generalForum" name="generalForum" formControlName="generalForum">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                generalForumOption.id === editForm.get('generalForum')!.value?.id ? editForm.get('generalForum')!.value : generalForumOption
              "
              *ngFor="let generalForumOption of generalForumsSharedCollection; trackBy: trackGeneralForumById"
            >
              {{ generalForumOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
