<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sys-log-heading" data-cy="SysLogCreateUpdateHeading" jhiTranslate="tempcondoappApp.sysLog.home.createOrEditLabel">
        Create or edit a Sys Log
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.sysLog.iDSysLog" for="field_iDSysLog">I D Sys Log</label>
          <input type="number" class="form-control" name="iDSysLog" id="field_iDSysLog" data-cy="iDSysLog" formControlName="iDSysLog" />
          <div *ngIf="editForm.get('iDSysLog')!.invalid && (editForm.get('iDSysLog')!.dirty || editForm.get('iDSysLog')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('iDSysLog')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('iDSysLog')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.sysLog.logDateTime" for="field_logDateTime">Log Date Time</label>
          <div class="d-flex">
            <input
              id="field_logDateTime"
              data-cy="logDateTime"
              type="datetime-local"
              class="form-control"
              name="logDateTime"
              formControlName="logDateTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.sysLog.action" for="field_action">Action</label>
          <input type="text" class="form-control" name="action" id="field_action" data-cy="action" formControlName="action" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
