<div>
  <h2 id="page-heading" data-cy="GeneralForumHeading">
    <span jhiTranslate="tempcondoappApp.generalForum.home.title">General Forums</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tempcondoappApp.generalForum.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-general-forum"
        [routerLink]="['/general-forum/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tempcondoappApp.generalForum.home.createLabel"> Create a new General Forum </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="generalForums?.length === 0">
    <span jhiTranslate="tempcondoappApp.generalForum.home.notFound">No generalForums found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="generalForums && generalForums.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.generalForum.iDGeneralForum">I D General Forum</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.generalForum.postDate">Post Date</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.generalForum.post">Post</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.generalForum.userProfile">User Profile</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generalForum of generalForums; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/general-forum', generalForum.id, 'view']">{{ generalForum.id }}</a>
          </td>
          <td>{{ generalForum.iDGeneralForum }}</td>
          <td>{{ generalForum.postDate | formatMediumDatetime }}</td>
          <td>{{ generalForum.post }}</td>
          <td>
            <div *ngIf="generalForum.userProfile">
              <a [routerLink]="['/user-profile', generalForum.userProfile?.id, 'view']">{{ generalForum.userProfile?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/general-forum', generalForum.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/general-forum', generalForum.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(generalForum)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
