<div>
  <h2 id="page-heading" data-cy="PropertyHeading">
    <span jhiTranslate="tempcondoappApp.property.home.title">Properties</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tempcondoappApp.property.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-property"
        [routerLink]="['/property/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tempcondoappApp.property.home.createLabel"> Create a new Property </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="properties?.length === 0">
    <span jhiTranslate="tempcondoappApp.property.home.notFound">No properties found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="properties && properties.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.property.iDProperty">I D Property</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.property.type">Type</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.property.description">Description</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.property.hasHouseBuilt">Has House Built</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.property.propertySize">Property Size</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.property.iDPropertyMedia">I D Property Media</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/property', property.id, 'view']">{{ property.id }}</a>
          </td>
          <td>{{ property.iDProperty }}</td>
          <td>{{ property.type }}</td>
          <td>{{ property.description }}</td>
          <td>{{ property.hasHouseBuilt }}</td>
          <td>{{ property.propertySize }}</td>
          <td>
            <div *ngIf="property.iDPropertyMedia">
              <a [routerLink]="['/media', property.iDPropertyMedia?.id, 'view']">{{ property.iDPropertyMedia?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/property', property.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/property', property.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(property)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
