<div>
  <h2 id="page-heading" data-cy="ExceptionTableHeading">
    <span jhiTranslate="tempcondoappApp.exceptionTable.home.title">Exception Tables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tempcondoappApp.exceptionTable.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exception-table"
        [routerLink]="['/exception-table/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tempcondoappApp.exceptionTable.home.createLabel"> Create a new Exception Table </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exceptionTables?.length === 0">
    <span jhiTranslate="tempcondoappApp.exceptionTable.home.notFound">No exceptionTables found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exceptionTables && exceptionTables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.exceptionTable.iDException">I D Exception</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.exceptionTable.message">Message</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.exceptionTable.number">Number</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exceptionTable of exceptionTables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exception-table', exceptionTable.id, 'view']">{{ exceptionTable.id }}</a>
          </td>
          <td>{{ exceptionTable.iDException }}</td>
          <td>{{ exceptionTable.message }}</td>
          <td>{{ exceptionTable.number }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/exception-table', exceptionTable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/exception-table', exceptionTable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(exceptionTable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
