<div>
  <h2 id="page-heading" data-cy="ScheduleHeading">
    <span jhiTranslate="tempcondoappApp.schedule.home.title">Schedules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tempcondoappApp.schedule.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-schedule"
        [routerLink]="['/schedule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tempcondoappApp.schedule.home.createLabel"> Create a new Schedule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="schedules?.length === 0">
    <span jhiTranslate="tempcondoappApp.schedule.home.notFound">No schedules found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="schedules && schedules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.schedule.iDSchedule">I D Schedule</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.schedule.inDateTime">In Date Time</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.schedule.outDateTime">Out Date Time</span></th>
          <th scope="col"><span jhiTranslate="tempcondoappApp.schedule.userProfile">User Profile</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/schedule', schedule.id, 'view']">{{ schedule.id }}</a>
          </td>
          <td>{{ schedule.iDSchedule }}</td>
          <td>{{ schedule.inDateTime | formatMediumDatetime }}</td>
          <td>{{ schedule.outDateTime | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="schedule.userProfile">
              <a [routerLink]="['/user-profile', schedule.userProfile?.id, 'view']">{{ schedule.userProfile?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/schedule', schedule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/schedule', schedule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(schedule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
