<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-property-heading" data-cy="PropertyCreateUpdateHeading" jhiTranslate="tempcondoappApp.property.home.createOrEditLabel">
        Create or edit a Property
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.property.iDProperty" for="field_iDProperty">I D Property</label>
          <input
            type="number"
            class="form-control"
            name="iDProperty"
            id="field_iDProperty"
            data-cy="iDProperty"
            formControlName="iDProperty"
          />
          <div *ngIf="editForm.get('iDProperty')!.invalid && (editForm.get('iDProperty')!.dirty || editForm.get('iDProperty')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('iDProperty')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('iDProperty')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.property.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.property.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.property.hasHouseBuilt" for="field_hasHouseBuilt"
            >Has House Built</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="hasHouseBuilt"
            id="field_hasHouseBuilt"
            data-cy="hasHouseBuilt"
            formControlName="hasHouseBuilt"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.property.propertySize" for="field_propertySize"
            >Property Size</label
          >
          <input
            type="number"
            class="form-control"
            name="propertySize"
            id="field_propertySize"
            data-cy="propertySize"
            formControlName="propertySize"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.property.iDPropertyMedia" for="field_iDPropertyMedia"
            >I D Property Media</label
          >
          <select
            class="form-control"
            id="field_iDPropertyMedia"
            data-cy="iDPropertyMedia"
            name="iDPropertyMedia"
            formControlName="iDPropertyMedia"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                mediaOption.id === editForm.get('iDPropertyMedia')!.value?.id ? editForm.get('iDPropertyMedia')!.value : mediaOption
              "
              *ngFor="let mediaOption of iDPropertyMediasCollection; trackBy: trackMediaById"
            >
              {{ mediaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
