<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-general-forum-heading"
        data-cy="GeneralForumCreateUpdateHeading"
        jhiTranslate="tempcondoappApp.generalForum.home.createOrEditLabel"
      >
        Create or edit a General Forum
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.generalForum.iDGeneralForum" for="field_iDGeneralForum"
            >I D General Forum</label
          >
          <input
            type="number"
            class="form-control"
            name="iDGeneralForum"
            id="field_iDGeneralForum"
            data-cy="iDGeneralForum"
            formControlName="iDGeneralForum"
          />
          <div
            *ngIf="
              editForm.get('iDGeneralForum')!.invalid && (editForm.get('iDGeneralForum')!.dirty || editForm.get('iDGeneralForum')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('iDGeneralForum')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('iDGeneralForum')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.generalForum.postDate" for="field_postDate">Post Date</label>
          <div class="d-flex">
            <input
              id="field_postDate"
              data-cy="postDate"
              type="datetime-local"
              class="form-control"
              name="postDate"
              formControlName="postDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.generalForum.post" for="field_post">Post</label>
          <input type="text" class="form-control" name="post" id="field_post" data-cy="post" formControlName="post" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="tempcondoappApp.generalForum.userProfile" for="field_userProfile"
            >User Profile</label
          >
          <select class="form-control" id="field_userProfile" data-cy="userProfile" name="userProfile" formControlName="userProfile">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                userProfileOption.id === editForm.get('userProfile')!.value?.id ? editForm.get('userProfile')!.value : userProfileOption
              "
              *ngFor="let userProfileOption of userProfilesSharedCollection; trackBy: trackUserProfileById"
            >
              {{ userProfileOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
